/* Everywhere */
.headercontainer {
    background-color: rgba(0, 0, 128, 0.356)
}

.footercontainer {
    background-color: rgba(0, 0, 128, 0.356)
    
}

/* Home Page */

.container {
    background-color:;
    color: black;
}

/* Projects Page */
.Projects {
    background-color: (3, 47, 105, 0.822);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background-color: (3, 47, 105, 0.822);
    margin: 10%;
    padding-top: 0%;
    border: solid #0d6efd 1px;
}

/* Interests Page */